/* Paleta de Cores */
#color-palette {
  display: table;
}

/* Quadro de pixels */
#pixel-board {
  display: table;
  margin-top: 50px;
}

.row-palette , .row-board {
  display: table-row;
  padding: 5px;
}

.color , .pixel {
  display: table-cell;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
