body {
  background-image: url('./imgs/fundo-pixels-art.jpg');
}

.center {
  text-align: center;
}
/* Paleta de Cores */
.color {
  display: inline-block;
  margin-inline: 1px;
  border: solid 1px black;
  width: 40px;
  height: 40px;
}

/* Quadro de pixels */
#pixel-board {
  border-collapse: collapse;
  margin: auto;
  margin-top: 25px;
}

.pixel {
  border: solid 1px black;
  width: 41px;
  height: 41px;
  background-color: white;
}

/* botão  de limpar */
#clear-board {
  margin-top: 25px;
}
