/* Paleta de Cores */
#color-palette {
  display: table;
}

.color {
  display: table-cell;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

/* Quadro de pixels */
#pixel-board {
  border-collapse: collapse;
  margin-top: 25px;
}

.pixel {
  display: table-cell;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#clear-board {
  margin-top: 25px;
}
